@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --border: #363636;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;

  height: 100vh;
  background: #fbfcff;
  font-size: 1.2rem;
  color: #6c7983;
}

header {
  padding: 1rem 4rem;
  width: 100%;
  min-height: 10vh;
  background: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid var(--border);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

header h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  /* color letra blanco */
  color: #007bff;
}

header .input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input label {
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  cursor: pointer;
  background-color:#3700d4 ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #FFF;
}

.container h2{
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #00a7ef;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.container p{
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #00a7ef;
  text-align: center;
}

.input label i {
  font-size: 1.5rem;
}

.image {
  width: 48rem;
  height: 25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--border);
  border-radius: 0.5rem;

  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.image:hover {
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.13);
}

.image img {
  width: calc(100% + 1rem);
  height: calc(100% + 0.5rem);

  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
